h2 {
  font-size: 30px;
}

.tituloPosicao {
  font-size: 24px;
  border-bottom: 2px solid #bf0411;
  width: 240px;
  margin-top: 24px;
}

.menu {
  transform: translateY(-50%);
  justify-content: center;
  margin-top: 16px;
  color: #fff;
  padding: 10px;
}

section {
  margin-top: 12px;
}

.navegacaoEntreSecoes {
  justify-content: center;
}

.itemNavegacaoEntreSecoes {
  align-items: center;
  margin: 8px;
  padding: 8px;
  border: 2px solid #bf0411;
  border-radius: 40px;
  font-size: small;
}
.itemNavegacaoEntreSecoes a {
  color: black;
}

.itemNavegacaoEntreSecoes:hover {
  color: white;
  background-color: #bf0411;
}

.itemNavegacaoEntreSecoes a:hover {
  color: white;
  background-color: #bf0411;
}

.fixed {
  position: fixed;
  top: 20px;
  margin: 24px auto;
  justify-content: center;
  transition: top 0.3s;
}

.listaJogadores {
  flex-wrap: wrap;
}

.jogador {
  display: flex;
  align-items: center;
  margin: 12px 8px;
}

.jogador h4 {
  font-size: 18px;
  margin-top: 8px;
}

.jogador:hover {
  border-radius: 10px;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.4);
}
